.cart_content{
    padding-left: 2%;
    display: flex;
}

.cart_image{
    width: 20%;
}

.plus_button{
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50px;
  will-change: transform;
  
}



.plus_button:disabled {
    pointer-events: none;
  }
  
  .plus_button:hover {
    color: #fff;
    background-color: #1278dd;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .plus_button:active {
    box-shadow: none;
    transform: translateY(0);
  }


.cart_details h4{
    padding-left: 22px;
}

.cart_empty{
    text-align: center;
}

.text-flex{
  display: flex;
  justify-content: space-between;
  
}

.right-side-pay{
  
}