.container_hero{
    place-content: center;
    margin: 2%;
    border-radius: 5px;
    background-color: #1278dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);


}

.header_text{
    text-align: center;
    /* background: linear-gradient(
    to right, 
    hsl(194, 100%, 62%), 
    rgb(172, 227, 248)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(https://i.ibb.co/NKYsft3/background.png);
  background-clip: unset;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  padding-top: 1%


}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.header_text h1{
    font-size: 40px;    
}

.header_selection{
    text-align: center;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_selection h3{
    color: white;
    padding-right: 1%;

}


.header_select{
    height: 25px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    border-color: #42c3e4;
}
.selectPad{
    padding-top: 3px;
}