header{width:100%; display:table; background-color:#002e5b; margin-bottom:20px;}

nav{width:auto; float:right;}
nav ul{display:table; float:right;list-style-type: none;  }
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{text-decoration: none; color:#ffffff; font-size:15px; padding: 5px 20px; display:inline-block; transition: all 0.1s ease 0s;}
nav ul li a:hover{background-color:#26deff;  color:#002e5b; border-radius: 20px; }
nav ul li a:hover i{color:#002e5b; }
nav ul li a i{padding-right:10px; color:#26deff; }
