header{
    width:100%; display:table; background-color:#1278dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
nav{
    width:auto;
}
nav img{
    float: left; padding-left: 2%; height: 40px; justify-content: center;padding-top: 10px;
}
nav ul{
    display:table; float:right;list-style-type: none; padding-right: 30px; 
}
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    text-decoration: none; color:#ffffff; font-size:15px; 
    padding: 5px 30px; display:inline-block; 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#26deff;  
    color:#1278dd; 
    border-radius: 20px; 
}
nav ul li a:hover i{
    color:#1278dd; 
}
nav ul li a i{
    padding-right:10px; color:#26deff; 
}
