.pro_container{
    display: flex;
}

.pro_image{
    width: 50%;
    padding-top: 1%;
}
.pro_details{
    width:50%;
    text-align: left;
}

.onClick_container{
    align-items: center;
}

.onClick_container p{
    text-align: center;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
}
.add_button{
    margin: 2%;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 95%;
  will-change: transform;
}

.add_button:disabled {
  pointer-events: none;
}

.add_button:hover {
  color: #fff;
  background-color: #1278dd;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.add_button:active {
  box-shadow: none;
  transform: translateY(0);
}

.confirm_message{
  color: rgb(0, 212, 0);
}