.profile-container{
    padding: 2%;
   justify-content: center;
 display: flex;
   align-items: center;
}

.profile-details{
    width: 40%;
    background-color: #fff;
    border-radius: 0.35rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    padding: 2%;
    padding-left: 5%;
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 180px;
}